
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            var connection = new signalR.HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Debug)
            .withAutomaticReconnect()
            .withUrl("https://localhost:7099/MyHub").build();

            function statusShow(){
                $("#conStatus").text(connection.state);
            }

            function Start(){
                connection.start().then(() => {
                    $("#loading").hide();
                    statusShow();  
                    connection.invoke("GetNames");
                    connection.invoke("GetNamesByGroup");
            }).catch((err) => {
                console.log(err);
                setTimeout(()=>{start(),2000});
            });
            }

            statusShow();
            Start();

            connection.onreconnecting(err=>{
                $("#loading").show();
                statusShow();
            });
             connection.onreconnected(connectionId =>{
                $("#loading").hide();
                statusShow();
             });

             connection.onclose(()=>{
                  $("#loading").hide();
                    statusShow();
             });

              connection.on("ReceiveClientCount", (clientCount) => {
                $("#client").text(clientCount);
            });

            connection.on("ReceiveNames",(names)=>{
                $("#namesList").empty();
                names.forEach((item,index)=>{
                     $("#namesList").append(`<li class='list-group-item'>${item}</li>`);
                });
            });
             connection.on("ReceiveName", (name) => {
                $("#namesList").append(`<li class='list-group-item'>${name}</li>`)
            });
             connection.on("Error", (errorText) => {
                alert(errorText);
            });
            connection.on("Notify",(teamCount)=>{
                $("#notify").html(`<div class="alert alert-success">${teamCount}</div>`)
            });
            connection.on("ReceiveMessageByGroup",(name,teamId)=>{
                let listName;
                if(teamId==1)
                    listName="ATeamList";
                    else
                    listName="BTeamList";
                    $(`#${listName}`).append(`<li class="list-group-item">${name}</li>`);
            });

            connection.on("ReceiveNamesByGroup",(teams)=>{
                teams.forEach((team,index)=>{
                     let listName;
                if(teamId==1)
                    listName="ATeamList";
                    else
                    listName="BTeamList";
                    team.user.forEach((user,index2)=>{
                    $(`#${listName}`).append(`<li class="list-group-item">${team}</li>`);
                    });
                });
            });
            $("#BtnSaveName").click(() => {
                connection.invoke("SendName", $("#txtName").val()).catch((err) => {
                    console.log(err);
                });
            });

            $("#BtnTeamGroup").click(()=>{
                let name=$("#txtName").val();
                let teamName=$("input[type=radio]:checked").val();
                connection.invoke("SendNameByGroup",name,teamName).catch((err)=>{
                    console.log(err);
                });
            });

            $("input[type=radio]").change(()=>{
                let value = $('input[type:radio]:checked').val();
                if(value=='ATeam'){
                    connection.invoke("AddToGroup",value);
                    connection.invoke("RemoveToGroup","BTeam");
                }
                else{
                    connection.invoke("AddToGroup",value);
                    connection.invoke("RemoveToGroup","ATeam");
                }
            })
           
        })
        

    </script>
}
<h1>SignalR Client Side</h1>
<br />
<br />
<div class="alert alert-info mt-2">
    <div class="float-left">
    Bağlantı Durumu : <strong id="conStatus"></strong>
    , Client Sayısı : <strong id="client"></strong>
    </div>
    <div class="float-right">
        <div id="loading" class="spinner-border" role="status">
  <span class="visually-hidden">Tekrar Bağlanıyor...</span>
</div>
    </div>
    
   

</div>
 <div id="notify">

    </div>
<br />
<br />
<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName"/>
        <hr />
        <input class="btn btn-primary" type="button" value="İsim Kaydet" id="BtnSaveName" />
        <input class="btn btn-warning" type="button" value="İsim Kaydet (Takım)" id="BtnTeamGroup" />
      
    </div>
    
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="TeamGroup" value="ATeam"/>
            <span class="form-check-label">A Takımı</span>
            <br/>
              <input class="form-check-input" type="radio" name="TeamGroup" value="BTeam"/>
            <span class="form-check-label">B Takımı</span>
            <br/>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-6">
             <ul class="list-group" id="ATeamList"></ul>
            </div>
              <div class="col-md-6">
             <ul class="list-group" id="BTeamList"></ul>
            </div>
        </div>
        <ul class="list-group" id="namesList"></ul>
    </div>
    </div>

